{% extends "raiz/plantilla_base.html" %}
{% load static %}

{% block content %}

    <style>
        
        main{
            height: 86vh;
            border: solid  black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .prueba {
            border: solid blue;
            width: 14%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .caja{
            width: 100%;
            height: 7%;
            border: solid yellowgreen;
        }



        


    </style>

    <main>
        <div class="prueba">
    
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>
            <div class="caja"></div>

        </div>
    </main>

{% endblock %}