{% extends "raiz/plantilla_base.html" %}
{% load static %}

{% block content %}

    <style>
        main{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
        }
        form{
            width: 20%;
            height: 80%;
            border-radius: 3vh;
            display: flex;
            flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(121, 14, 69);
        }
    form input {
        margin: 4%;
        width: 80%;
        height: 5%;
        font-size: 1.9vh;
        border-style: none;
        border-bottom: solid white;
        background-color:rgb(121, 14, 69);;
        }

        form select{
            margin: 4%;
        width: 80%;
        height: 5%;
        font-size: 1.9vh;
        }

        button{
            margin: 4%;
        width: 80%;
        height: 5%;
        border-radius: 3vh;
        font-size: 1.9vh;
        background-color: rgb(252,219,85);
        color: rgb(121, 14, 69);;
        }
    </style>

    <main>
        <form action="% url 'catastro:cambiar_contra' %">
          
            <input type="text" placeholder="USERNAME" name="username">
            <input type="text" placeholder="CONTRASEÑA" name="password">
            <input type="text" placeholder="CONFIRMAR CONTRASEÑA" name="conf_password">

            <button type="submit"> RESTABLECER CONTRASEÑA</button>

        </form>
    </main>

{% endblock %}

