{% extends "raiz/plantilla_base.html" %}
{% load static %}

{% block content %}

<script>
    
    var username = "{{nombre_user}}";

    const socket = new WebSocket('ws://' + window.location.host + '/ws/load_notify/'+ username + '/');
    
    socket.onopen = function (e){
        console.log('El socket esta abierto')

        //CARGAR NOTIFICACIONES DE USUARIO-
        socket.send(JSON.stringify({event:'conexion'}));
    }

    socket.onmessage = (e) => {
        //Obtener datos del backend
        const data = JSON.parse(e.data);

        //Obtener el contenedor donde se vaciaran los mensajes
        var box_notify = document.getElementById('notify_box');
        const box_num_notify = document.getElementById('box_num_notify');
        

        //
        box_notify.innerHTML = '';

        //

        num_notify=0;

        data.forEach((notifications) => {
            var titulo = notifications.titulo;
            var remitente = notifications.remitente;

            // Crear un nuevo elemento de lista y agregar los datos
            const etiqueta_a = document.createElement('a');

            etiqueta_a.innerHTML = '<h1 class="titulo_not">'+titulo+'</h1><span class="remitente_not">'+remitente+'</span>'

            /*
            //Link a pantalla de notificaciones
            //
            etiqueta_a.href = "#";
            
            //Crear etiqueta span
            const etiqueta_span = document.createElement('span');
            etiqueta_span.innerHTML='<br>'+remitente;

            etiqueta_a.textContent=titulo;
            //Agregar etiqueta span a la etiqueta a
            etiqueta_a.appendChild(etiqueta_span);
            */

            box_notify.appendChild(etiqueta_a);

            num_notify++;

        });

        if(num_notify == null || num_notify==0){
            box_num_notify.innerText=0;
            box_notify.style.display = 'none';

        }else{
            box_num_notify.innerText=num_notify;
            box_notify.style.display = 'block';
        }

        socket.onclose = (event) => {
            console.log('WebSocket cerrado con código:', event.code, 'razón:', event.reason);
        };
          
        socket.onerror = (error) => {
            console.error('Error en el WebSocket:', error);
        };

        //CERRAR LA CONEXION CON EL WEBSOCKET
        window.addEventListener('beforeunload', function(event) {
            event.preventDefault();
            // Realiza aquí las acciones necesarias antes de que el usuario abandone la página
            // Por ejemplo, cerrar conexiones WebSocket
            websocket.close();
            
        });

        
    };
    


    /*
    const socket = new WebSocket('wss://' + window.location.host + '/prueba/');
    
    socket.onopen = function (e){
        console.log('El socket esta abierto')
    }

    */

</script>

<style>
    /*Establecer tamaño del nav*/
    nav {
        width: 100%;
        height: 20vh;
        /*border: solid blue;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Establecer tamaño de la ul principal */
    .main-ul {
        background-color: rgb(134, 22, 66);
        width: 95%;
        height: 40%;
        /* Agregar flex para mostrar la lista en fila */
        display: flex;
        border-radius: 3vh;
    }

    /* Quitar las viñetas de la lista y alinear todo el texto al centro */
    .main-ul li {
        list-style: none;
        text-align: center;
    }

    /* li principal*/
    .main-list {
        /*border: solid rgb(0, 0, 0);*/
        margin: 0.8% 0.5% 0.8% 0.5%;
        border-radius: 3vh;
        /* Posicion relativa para manterner su jerarquia en la caja  */
        position: relative;
        /* Alinear en columna los elementos de la caja principal e hijas */
        display: flex;
        /* Ajustar el ancho automaticamente al maximo del contenedor */
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /*transicion para efecto hover*/
        transition: 0.25s;

    }

    /* li hijo */
    .sub-list {
        /* Ocultar contenedor */
        display: none;
        background-color: rgb(134, 22, 66);
        border-radius: 0 0 3vh 3vh;
        /* Posicion absoluta para perder su lugar en la caja */
        position: absolute;
        /* Mandar el contenedor del li hijo abajo */
        top: 100%;
        /* Establecer como ancho maximo el tamaño del li padre */
        width: 100%;
    }

    .main-list:hover>.sub-list {
        display: block;
    }

    .main-list>a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 2vh;
        /*border: solid white;*/
    }

    .sub-list a {
        color: white;
        text-decoration: none;
        font-weight: bold; 
        font-size: 2vh;
    }

    .sub-list>li {
        margin: 5%;
        border-radius: 3vh;
        /*border: solid black;*/
        padding: 4% 0 4% 0;
        transition: 0.25s;
    }

    .main-list:hover{
        background-color: rgb(252, 199, 53);
    }

    .main-list:hover > a{
        color: rgb(134, 22, 66);
    }

    .main-list:hover #box_num_notify {
        color: rgb(134, 22, 66)/* Cambia el color a lo que prefieras */
    }

    .sub-list li:hover{
        background-color: rgb(73, 14, 38);
    }

    /*BLOQUE DE CODIGO BOX-2*/
    #box-2{
        /*border: solid black;*/
        height: 65vh;
        background-image: url("{% static 'img/IMG-BACKGROUND.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    #box-2 h1{
        margin-top: 5vh;
    }

    /*Estilo notificaciones*/

    #box_num_notify{
        color: rgb(252, 199, 53);
        font-size: 2.5vh;
        margin-left: 1vh;
    }

    .titulo_not{
        color: rgb(252, 199, 53);
        font-size: 100%;
        margin-top: 1.5vh;
    }
    


</style>

<main>
    <nav>
        <ul class="main-ul">
            <li class="main-list">
                <a href="">PROPIEDADES Y TITULARES</a>
                <ul class="sub-list">
                    <li><a href="{% url 'catastro:index_contribuyente' %}" >ALTA DE CONTRIBUYENTES</a></li>
                    <li><a href="{% url 'catastro:index_predios' %}" >ALTA DE PREDIOS</a></li>       
                </ul>
            </li>

            <li class="main-list">
                <a href="">TRAMITES</a>
                <ul class="sub-list">
                    <li><a href="{% url 'catastro:solicitud' %}" class="as">DC017</a></li>
                    <li><a href="{%url 'catastro:ficha_catastral'%}" class="as">FICHA CATASTRAL</a></li>
                    <li><a href="" class="as">INCORPORACIÓN</a></li>
                    <li><a href="" class="as">SUBDIVISIÓN</a></li>
                    <li><a href="" class="as">FUSIÓN DE PREDIOS</a></li>
                </ul>
            </li>

            <!-- <li class="main-list">
                <a href="">TRAMITES</a>
                <ul class="sub-list">
                    <li><a href="" class="as">NUEVA BAJA</a></li>
                    <li><a href="" class="as">NUEVO USUARIO</a></li>
                </ul>
            </li> -->

            <li class="main-list">
                <a href="">MANTENIMIENTO</a>
                <ul class="sub-list">
                    <li><a href="" class="as">MIGRAR DEUDORES</a></li>
                    <li><a href="{% url 'catastro:view_registrar_usuario' %}" class="as">CREAR NUEVO USUARIO</a></li>
                </ul>
            </li>


            <li class="main-list">
                <a href="{% url 'catastro:gestor_notify_catastro'%}">NOTIFICACIONES <span id="box_num_notify"><!--NUM_NOTIFICACIONES--></span></a>
                <ul class="sub-list">
                    <li id="notify_box"><!--NOTIFICACIONES--></li>
                </ul>
            </li>

            <li class="main-list">
                <a href="{% url 'catastro:logout_catastro' %}">CERRAR SESIÓN</a>
            </li>
        </ul>
    </nav>

    <div id="box-2">
        <!-- <h1>Bienvenido, {{nombre_user}}</h1> -->
    </div>
</main>

{% endblock %}