{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form action="{% url 'catastro:send_not_2' %}" method="POST">

        {% csrf_token %}
        <input type="text" name="destinatario" placeholder="destinatario">
        <input type="text" name="titulo" placeholder="titulo">
        <input type="text" name="cuerpo" placeholder="cuerpo">

        <button type="submit">mandar_not</button>
    </form>

    <input type="text" id="input_prueba" placeholder="input_prueba" maxlength="3">

    <button id="boton_audio">SONIDO</button>

    <script>
        const btn_audio = document.getElementById('boton_audio');
            const audio_notify = new Audio("{% static 'sounds/notify_sfx.wav' %}");
            btn_audio.addEventListener('click', function() {
                audio_notify.play();
            });
        
        var input_prueba = document.getElementById('input_prueba');

        input_prueba.addEventListener('input', function () {

            var txt = input_prueba.value;

            nvoText = modificarTextoClave(txt);

            input_prueba.value = nvoText;

        });



        function modificarTextoClave(texto) {

            if (texto.length == 3) {
                console.log('No se modifica nada');
            }

            if (texto.length == 2) {
                console.log('0' + texto);
                return '0' + texto;
            }

            if (texto.length == 1) {
                console.log('00' + texto);
                return '00' + texto;
            }

        }

    </script>
</body>
</html>