{% extends "raiz/master_blade_v.1.html" %} {%block body%} {% load static %}
<style>
  .form1 h1 {
    margin-top: -50px;
    margin-left: 450px;
    font-size: 30px;
  }

  .img3 {
    float: right;
    margin-top: -85px;
  }

  #linea1 {
    width: 100%;
    height: 10px;
    background-color: #880e4f;

    top: 80px;
    left: 0;
    z-index: 9999;
  }

  #linea2 {
    width: 100%;
    height: 10px;
    background-color: #b8860b;

    top: 90px;
    left: 0;
    z-index: 9999;
  }

  .form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 260px;
    border-radius: 10px;
    border: solid 2px #b8860b;
  }

  .t1 {
    margin-left: 50px;
  }

  .t3 {
    margin-left: 80px;
  }

  .n1 {
    margin-left: 100px;
  }

  .n2 {
    margin-left: 25px;
  }

  .n3 {
    margin-left: 10px;
  }

  .n4 {
    margin-left: 25px;
  }

  .n5 {
    margin-left: 25px;
  }

  .n6 {
    margin-left: 35px;
  }

  .n7 {
    margin-left: 35px;
  }

  .n8 {
    margin-left: 35px;
  }

  .n9 {
    margin-left: 45px;
  }

  .c1 {
    margin-left: 30px;
  }

  .c3 {
    margin-left: 45px;
  }

  .tn1 {
    margin-left: 70px;
  }

  .tn2 {
    margin-left: 40px;
  }

  .tn3 {
    margin-left: 55px;
  }

  .tn4 {
    margin-left: 52px;
  }

  .tn5 {
    margin-left: 52px;
  }

  .tn6 {
    margin-left: 45px;
  }

  .tn7 {
    margin-left: 28px;
  }

  .tn8 {
    margin-left: 35px;
  }

  .tn9 {
    margin-left: 30px;
  }

  .nt2 {
    margin-left: 480px;
  }

  .t4 {
    margin-left: 50px;
  }

  .t5 {
    margin-left: 300px;
  }

  .t6 {
    margin-left: 340px;
  }

  .c4 {
    margin-left: 45px;
  }

  .c5 {
    margin-left: 270px;
  }

  .c6 {
    margin-left: 270px;
  }

  .nt3 {
    margin-left: 480px;
  }

  .t7 {
    margin-left: 100px;
  }

  .t8 {
    margin-left: 380px;
  }

  .t9 {
    margin-left: 380px;
  }

  .c7 {
    margin-left: 45px;
  }

  .c8 {
    margin-left: 270px;
  }

  .c9 {
    margin-left: 270px;
  }

  .form2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    border: solid 2px #b8860b;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  th {
    background-color: #880e4f;
    color: white;
  }

  .table td {
    border: none;
    /* Quital el borde de las celdas */
    padding: 8px;
    /* Ajusta el espaciado interno de las celdas según sea necesario */
  }

  .tt1 {
    margin-left: 550px;
  }

  input {
    text-align: center;
  }

  /*BACKGROUND*/
  main {
    background-image: url("{% static 'img/IMG-BACKGROUND.jpeg' %}");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
  }
</style>

<link rel="stylesheet" href="{% static 'scss/validaciones.css' %}" />
<script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<div class="container py-5">
  <fieldset class="container fieldset-1 card rounded-3 p-3" style="
      border: solid 3px #660b22;
      top: -10px;
      background: rgba(255, 255, 255, 0.5);
    ">
    <legend class="float-none w-auto px-3" style="
        border: solid 3px gold;
        font-size: 25px;
        color: brown;
        font-family: 'Calibri';
        font-weight: bold;
        border-radius: 0.4em;
      ">DATOS GENERALES</legend>

    <div id="1" style="margin-top: -5px">
      <fieldset class="fieldset-1 card rounded-3 p-3" style="background: rgb(255, 255, 255, 0.5)">
        <legend class="float-none w-auto px-3" style="
            font-size: 17px;
            color: brown;
            font-family: 'Calibri';
            font-weight: bold;
          ">
          CLAVE CATASTRAL
        </legend>
        {% for item in my_list %}

        <div class="col-xl-12" style="top: 20px">
          <div class="row" style="margin-top: -23px">
            <div class="col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2"></div>


            <div class="input-group-sm col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="fc_zon" class="lbl1"><strong>Zona cat</strong></label>

                {% with cadena=item.clave_catastral %}
                {% with zc=cadena|slice:"0:3" %}
                <input type="text" id="zc" class="form-control" name="zc" style="height: 25px" readonly value="{{zc}}"
                  aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="fc_mu"><strong>Municipio</strong></label>
                {% with mpio=cadena|slice:"3:6" %}
                <input type="text" id="mpio" class="form-control" name="mpio" style="height: 25px" readonly
                  value="{{mpio}}" aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="locd"><strong>Localidad</strong></label>
                {% with locd=cadena|slice:"6:9" %}
                <input type="text" id="locd" class="form-control" name="locd" style="height: 25px" readonly
                  value="{{locd}}" aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="rg"><strong>Región</strong></label>
                {% with rg=cadena|slice:"9:12" %}
                <input type="text" id="rg" class="form-control" name="rg" style="height: 25px" readonly value="{{rg}}"
                  aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                {% with mzn=cadena|slice:"12:15" %}
                <label for="mzn"><strong>Manzana</strong></label>
                <input type="text" id="mzn" class="form-control" name="mzn" style="height: 25px" readonly
                  value="{{mzn}}" aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="lt"><strong>Lote</strong></label>
                {% with lt=cadena|slice:"15:18" %}
                <input type="text" id="lt" class="form-control" name="lt" style="height: 25px" readonly value="{{lt}}"
                  aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="nvl"><strong>Nivel</strong></label>
                {% with nvl=cadena|slice:"18:21" %}
                <input type="text" id="nvl" class="form-control" name="nvl" style="height: 25px" readonly
                  value="{{nvl}}" aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="dpt"><strong>Depto.</strong></label>
                {% with dpt=cadena|slice:"21:24" %}
                <input type="text" id="dpt" class="form-control" name="dpt" style="height: 25px" readonly
                  value="{{dpt}}" aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>

            <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
              <div class="form-group">
                <label for="dev"><strong>DV</strong></label>
                {% with dev=cadena|slice:"24:27" %}
                <input type="text" id="dev" value="{{dev}}" class="form-control" name="dev" style="height: 25px"
                  readonly aria-describedby="inputGroup-sizing-sm" />
                {% endwith %}
              </div>
            </div>
            {% endwith %} {% endfor %}
          </div>
      </fieldset>
    </div>

    <div id="1" style="margin-top: 20px">
      <fieldset class="card border rounded-3 p-3" style="
          height: min-content;
          background: rgb(255, 255, 255, 0.5);
          text-align: center;
        ">
        <legend class="float-none w-auto px-3" style="
            font-size: 17px;
            color: brown;
            font-family: 'Calibri';
            background: rgba(255, 255, 255, 0.5);
            font-weight: bold;
          ">
          INFORMACIÓN DEL PROPIETARIO
        </legend>

        <div class="row justify-content-center" style="margin-top: -23px">
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            {% for item in my_list %}
            <div class="form-group">
              <label style="width: 150px; height: 25px" for="" class="lbl1"><strong>Apellido Paterno</strong></label>

              <input style="height: 25px" type="text" id="" class="form-control" name="" readonly
                value="{{item.apellido_paterno}}" aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>

          <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label style="width: 150px; height: 25px" for="t_suelo" class="lbl1"><strong>Apellido
                  Materno</strong></label>
              <input style="height: 25px" type="text" id="t_suelo" class="form-control" name="t_suelo" readonly
                value="{{item.apellido_materno}}" aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>

          <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label style="width: 150px; height: 25px" for="t_suelo" class="lbl1"><strong>Nombre(s)</strong></label>
              <input style="height: 25px" type="text" id="t_suelo" class="form-control" name="t_suelo" readonly
                value="{{item.nombre}}" aria-describedby="inputGroup-sizing-sm" />
            </div>
          </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>

    <div id="1" style="margin-top: 20px">
      <fieldset class="card border rounded-3 p-3" style="
          height: min-content;
          background: rgb(255, 255, 255, 0.5);
          text-align: center;
        ">
        <legend class="float-none w-auto px-3" style="
            font-size: 17px;
            color: brown;
            font-family: 'Calibri';
            background: rgba(255, 255, 255, 0.5);
            font-weight: bold;
          ">
          INFORMACIÓN DEL PREDIO
        </legend>

        <div class="row" style="margin-top: -23px">
          <div class="input-group-sm col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              {% for item in my_list %}
              <label for="f_calle" class="lbl1">Calle</label>
              <input type="text" id="f_calle" style="height: 27px" class="form-control" name="f_calle" placeholder=""
                required readonly value="{{item.calle_s}}" onKeyUp="this.value = this.value.toUpperCase();"
                aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
          </div>

          <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label for="f_int" class="lbl1">Interior</label>
              <input type="text" id="f_int" style="height: 27px" class="form-control" name="f_int" placeholder=""
                required readonly value="{{item.num_int}}" data-parsley-length="[1,30]" value=""
                aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
          </div>

          <div class="input-group-sm col-xl-1 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label for="name" class="lbl1">Exterior</label>
              <input type="text" id="f_ext" style="height: 27px" class="form-control" name="f_ext" placeholder=""
                required readonly value="{{item.num_ext}}" data-parsley-length="[1,30]" value=""
                aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
          </div>

          <div class="input-group-sm col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label for="f_col_fracc" class="lbl1">Colonia/Fracc.</label>
              <input type="text" id="f_col_fracc" style="height: 27px" class="form-control" name="f_col_fracc"
                placeholder="" required readonly value="{{item.colonia_f}}" onkeypress="return soloLetras(event);"
                onKeyUp="this.value = this.value.toUpperCase();" value="" aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
          </div>

          <div class="input-group-sm col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label for="f_tipopredio" class="lbl1">Tipo de predio</label>
              <input type="text" id="f_tipopredio" style="font-size: 14px; height: 27px" class="form-control"
                name="f_tipopredio" placeholder="" required readonly value="{{item.tipo_predio}}"
                onkeypress="return valideKey(event);" aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
          </div>

          <div class="input-group-sm col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-group">
              <label for="f_uso_predio" class="lbl1">Estado físico</label>
              <input type="text" id="f_uso_predio" style="height: 27px" class="form-control" name="f_uso_predio"
                placeholder="" required readonly value="{{item.estado_fisico}}" onkeypress="return valideKey(event);"
                aria-describedby="inputGroup-sizing-sm" />
              <span></span>
            </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
    </div>
  </fieldset>

  <fieldset class="container fieldset-1 card rounded-3 p-3" style="
      border: solid 3px #660b22;
      top: 20px;
      background: rgba(255, 255, 255, 0.5);
    ">
    <legend class="float-none w-auto px-3" style="
        border: solid 3px gold;
        font-size: 25px;
        color: brown;
        font-family: 'Calibri';
        font-weight: bold;
        border-radius: 0.4em;
      ">
      ADEUDOS
    </legend>

    <table class="table table-bordered" id="tabla_adeudos_predial">
      <thead style="
          border: solid #880e4f 2px;
          background-color: #880e4f;
          color: rgb(255, 255, 255);
          width: 15em;
          text-align: center;
        ">
        <tr>
          <th scope="col">EJERCICIO</th>
          <th scope="col">SUBTOTAL</th>
          <th scope="col">IMPUESTO ADICIONAL</th>
          <th scope="col"></th>
          <th scope="col">RECARGO</th>
          <th scope="col"></th>
          <th scope="col">MULTA</th>
        </tr>
      </thead>
      <tbody class="table-group-divider"
        style="text-align: center; color: #880e4f; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        {% for item in adeudos %}
        <tr id="fila" style="border: #25758d 1px solid;">
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" checked type="checkbox" id="checkbox{{forloop.counter}}"
                value="{{ item.total }},{{item.subtotal}}, {{item.multa}}, {{item.recargo}}, {{item.impuesto_adicional}}, {{item.ejercicio}}, {{item.clave}}, {{item.estatus}}"
                onchange="suma();descuento_recargo();descuento_multa()" disabled />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                style="font-weight: bold;">{{item.ejercicio}}</label>
            </div>
          </td>
          <td>{{item.subtotal}}</td>
          <td>{{item.impuesto_adicional}}</td>
          <td></td>
          <td>{{item.recargo}}</td>
          <td></td>
          <td>{{item.multa}}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% for item in adeudos %}
        {% if forloop.first %}
        <tr style="color: #ffff; background-color: #880e4f;">
          <td><strong>RESUMEN:</strong></td>
          <td><strong>$<span id="subtotal">0</span></strong></td>
          <td><strong>$<span id="impuesto_adicional">0</span></strong></td>
          <td style="color: #d5ff1b;"><strong>-%<span id="desc_recargo">{{item.desc_recargo}}</span></strong></td>
          <td style="color: #d5ff1b;;"><strong>$<span id="recargo">0</span></strong></td>
          <td style="color: #d5ff1b;;"><strong>-%<span id="desc_multa">{{item.desc_multa}}</span></strong></td>
          <td style="color: #d5ff1b;;"><strong>$<span id="multa">0</span></strong></td>
        </tr>

      </tbody>
    </table>
    <div class="input-group" style="margin-bottom: 1%;">
      <span class="input-group-text" style="background-color: #d5ff1b; color: #660b22; font-weight: bold;">TOTAL CON
        DESCUENTO APROBADO:</span>

      <input type="text" aria-label="First name" class="form-control" id="total_descuento" readonly
        style="font-weight: bold; background-color: #ffff; color: red; font-size: 3vh;" value="{{item.total}}">

    </div>
    {% endif %}
    {% endfor %}


    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end;">
      <a href="#" style="width: 15%;"><button type="button" id="btn_pagar" class="btn btn-outline-primary"
          style="background-color: #660b22; color: #ffff; border:none; font-weight:bold; font-size: 2vh; width: 100%;">Pagar</button></a>
    </div>
</div>
</fieldset>


</div>

<script>

  // MANDAR LA INFORMACION A LA VISTA PAGO PREDIAL
  const btn_pagar_predial = document.getElementById('btn_pagar');
  const tabla_adeudos = document.getElementById('tabla_adeudos_predial');

  btn_pagar_predial.addEventListener('click', function () {

    var years_selected = [];

    for (let i = 1; i < tabla_adeudos.rows.length; i++) {
      const fila = tabla_adeudos.rows[i];
      //trim() se utiliza para limpiar los espacios en blanco que contiene el texto
      var years = fila.cells[0].textContent.trim(); // Accede al contenido de la primera celda (nombre)

      //Verificar que la variable year sea diferente a valores no numericos
      if (!isNaN(years)) {
        // verificar que la variable year no contenga valores vacios o nulos
        if (years != '') {
          years_selected.push(years);
        }
      }


    }

    var url_window = window.location.pathname;
    var partesUrl = url_window.split('/');
    const clave_cat = partesUrl[partesUrl.length - 1];
    var total = document.getElementById('total_descuento').value;

    /*for (i = 0; i < years_selected.length; i++) {
      console.log(years_selected[i])
    }
    */

    const url_pago = "{% url 'finanzas:pago_predial_contribuyente_years_debe' %}";

    $.ajax({
      type: 'GET',
      url: url_pago, // Reemplaza esto con la URL de tu vista en Django
      data: {
        'clave_cat': clave_cat,
        'years_selected': years_selected,
        'total': total
      },
      dataType: 'json',
      success: function (response) {
        console.log('descuento aprobado con exito')
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log("Error en la solicitud AJAX:");
        console.log("Estado: " + textStatus);
        console.log("Error: " + errorThrown);
      }
    });



  });



</script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
  integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

<script src="{%static 'js/INGRESOS/descuentos/pago_descuento_aplicado.js'%}"></script>

{%endblock%}